<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="common-menu">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@{../index.html}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>

        <div class="sidebar-brand-text mx-3">DaRong's Page <sup>♥</sup></div>
    </a>

    <!-- 메뉴 출력 시작 -->
    <hr class="sidebar-divider my-0">

    <!-- 전체 부모 메뉴 Size -->
    <th:block th:each="totalParentList, iterStat : ${menuList}">
        <!-- 첫 메뉴가 아닐 경우에만 출력 -->
        <th:block th:if="${iterStat.index != 0}">
            <hr class="sidebar-divider">
        </th:block>

        <!-- 부모 별로 메뉴 출력 -->
        <th:block th:each="showMenuList : ${totalParentList.value}">
            <!-- 만약 카테고리 메뉴일 경우 -->
            <th:block th:if="${showMenuList.mCategory == true}">
                <div class="sidebar-heading" th:text="${showMenuList.mName}"></div>
            </th:block>

            <!-- else -->
            <th:block th:if="${showMenuList.mCategory == false}">
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span th:text="${showMenuList.mName}"></span>
                    </a>
                </li>
            </th:block>
        </th:block>
    </th:block>

    <!-- 메뉴 출력 종료, Bottom Setting-->
    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>