<th:block th:fragment="common-bottom">
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">로그아웃 하실 경우 현재 쿠키 정보가 삭제됩니다.</div>

                <!-- Logout -->
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" id="logoutButton">Logout</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/chart-area-demo.js}"></script>
    <script th:src="@{/js/demo/chart-pie-demo.js}"></script>

    <!-- 공통 Alert -->
    <div id="alert-util">
        <!-- Web -->
        <script th:inline="javascript" th:if="${resultMessage != null}">
            alert([[${resultMessage}]]);
        </script>

        <!-- Logout -->
        <script th:inline="javascript">
            document.querySelector("#logoutButton").addEventListener("click", async () => {
                try {
                    const response = await fetch("/api/auth/logout", {
                        method: "POST"
                    });

                    if (response.ok) {
                        alert("로그아웃 되었습니다.");
                        window.location.href = "/auth/login"; // 로그인 페이지로 이동

                    } else {
                        alert("로그아웃 도중 문제가 발생하였습니다.");
                    }

                } catch (err) {
                    console.error(err);
                    alert("서버 오류로 로그아웃에 실패하였습니다.");
                }
            });
        </script>
    </div>
</th:block>