<th:block th:fragment="common-check-delete">
    <!-- CheckBox Multi Delete -->
    <script th:inline="javascript">
        const checkAll = document.getElementById('checkAll'); // 체크박스 전체 선택
        const check_Individual = document.querySelectorAll('input[name="selected"]'); // 체크박스 개별 선택

        // 전체 선택 & 해제
        checkAll.addEventListener('change', function() {
            check_Individual.forEach(_checkbox => _checkbox.checked = checkAll.checked);
        });

        // 개별 체크박스 클릭 시 전체 선택 상태 반영
        check_Individual.forEach(_checkbox => {
            _checkbox.addEventListener('change', function() {
                checkAll.checked = [...check_Individual].every(_checkboxAll => _checkboxAll.checked);
            });
        });

        // 일괄 삭제
        async function delete_Check(sendURL) {
            // 삭제 여부 확인
            if (!confirm('선택한 게시글을 삭제하시겠습니까?')) return;

            // 선택한 체크박스 정보 가져오기
            const checkbox_Choice = [...check_Individual]
                .filter(_checkbox => _checkbox.checked)
                .map(_checkbox => _checkbox.value);

            try {
                const response = await fetch(sendURL, {
                    method: 'DELETE',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(checkbox_Choice)
                });

                // 결과 값 가져오기
                const result = await response.json();
                apiResponse(result, "/board/boardList");

            } catch (error) {
                console.error('Error:', error);
                alert('서버 오류가 발생했습니다.');
            }
        }
    </script>
</th:block>