<th:block th:fragment="common-enter">
    <!-- Title -->
    <div class="card-header">
        <input type="text" class="form-control bg-light border-0 small"
               placeholder="Please enter a title here :)" aria-describedby="basic-addon2"
               id="boardTitle" th:field="*{boardDTO.boardTitle}"/>

        <!-- Validation Check Result (API) -->
        <div id="valid-boardDTO_boardTitle" class="alert alert-danger mt-2" style="display:none"></div>

        <!-- Validation Check Result (Web) -->
        <div th:if="${#fields.hasErrors('boardDTO.boardTitle')}" th:errors="*{boardDTO.boardTitle}"
             class="alert alert-danger mt-2"></div>
    </div>

    <!-- Content -->
    <div class="card-body">
        <textarea class ="form-control bg-light border-0 small" id="boardContent"
                  th:field="*{boardDTO.boardContent}" rows="10" cols="20"
                  placeholder="Please enter a Content here :)"></textarea>

        <!-- Validation Check Result (API) -->
        <div id="valid-boardDTO_boardContent" class="alert alert-danger mt-2" style="display:none"></div>

        <!-- Validation Check Result (Web) -->
        <div th:if="${#fields.hasErrors('boardDTO.boardContent')}" th:errors="*{boardDTO.boardContent}"
             class="alert alert-danger mt-2"></div>
    </div>
</th:block>