<th:block th:fragment="common-search">
    <div class="col-md-6 col-12">
        <div class="d-flex align-items-center">
            <div class="dropdown mr-2">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <!-- 공통 검색 조건-->
                    <a class="dropdown-item" href="#">RegId</a>
                    <div class="dropdown-divider"></div>

                    <!-- 카테고리별 검색 조건-->
                    <a class="dropdown-item" href="#">Title</a>
                    <a class="dropdown-item" href="#">Content</a>
                </div>
            </div>

            <div class="input-group">
                <input type="text" class="form-control border-0 small"
                       aria-label="Search" aria-describedby="basic-addon2"
                       placeholder="Please enter what you want to search for.">

                <!-- 최신 Bootstrap 4.5, 5.X에서 Input Group Append 불필요 -->
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </div>
</th:block>