# Gradle
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Java
*.class
*.jar
*.war
*.ear

# Operating System Files
.DS_Store
Thumbs.db

# Log Files
*.log

# Temporary Files (= 임시 파일)
*.tmp
*.swp
*.swo

# Spring Boot Specific
.springBeans

# Local Configuration Files
*.env
*.local