<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common/common-header}"></head>

    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="~{common/common-menu :: common-menu}"></ul>

            <!-- 페이지 본문 시작 -->
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="~{common/common-navbar :: common-navbar}"></nav>

                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-2 text-gray-800">Notice</h1>
                            <a th:href="@{/board/boardList}" class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50"><i class="fas fa-flag"></i></span>
                                <span class="text">Back To List</span>
                            </a>
                        </div>

                        <p class="mb-4">This category is where announcements are displayed 😀</p>

                        <!-- Write Form Start -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card mb-4">
                                    <!-- Title -->
                                    <div class="card-header" th:text="${boardPost.bTitle}"></div>

                                    <!-- Content -->
                                    <div class="card-body" th:text="${boardPost.bContent}"></div>

                                    <!-- File Upload : 첨부 파일이 있을 경우에만 출력 (Each, If를 같이 쓸 때는 이름을 다르게)-->
                                    <th:block th:if="${boardFileList.size() != 0}" th:each="boardFile : ${boardFileList}">
                                        <div class="card-header d-flex align-items-center">
                                            <span class="icon text-gray-600 mr-3">
                                                <i class="fas fa-arrow-right"></i>
                                            </span>
                                            <a class="text-decoration-none" th:href="@{/board/boardFileDownload/{boardFileSeq}(boardFileSeq=${boardFile.boardFileSeq})}">
                                                <span th:text="${boardFile.bfFileName}"></span>
                                            </a>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>

                        <!-- Submit -->
                        <a th:href="@{/board/boardUpdateForm/{boardSeq}(boardSeq=${boardPost.boardSeq})}" class="btn btn-success btn-icon-split">
                            <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                            <span class="text">Go To Update</span>
                        </a>

                        <a th:href="@{/board/boardDeleteOne/{boardSeq}(boardSeq=${boardSeq})}" class="btn btn-danger btn-icon-split">
                            <span class="icon text-white-50"><i class="fas fa-trash"></i></span>
                            <span class="text">Delete</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="~{common/common-bottom :: common-bottom}"></th:block>
    </body>
</html>