<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common/common-header}"></head>

    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="~{common/common-menu :: common-menu}"></ul>

            <!-- 페이지 본문 시작 -->
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="~{common/common-navbar :: common-navbar}"></nav>

                    <div class="container-fluid">
                        <h1 class="h3 mb-2 text-gray-800">Notice</h1>
                        <p class="mb-4">This category is where announcements are displayed 😀</p>

                        <!-- List Table Start -->
                        <div class="card shadow mb-4">
                            <!-- Table Title -->
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Here is a list of announcements in administrator mode</h6>
                            </div>

                            <!-- Table Content -->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead style="text-align: center;">
                                            <tr>
                                                <th>Noe</th>
                                                <th>Title</th>
                                                <th>Name</th>
                                                <th>Title</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td colspan="5" style="text-align: center;">등록 된 게시글이 없습니다</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="~{common/common-bottom :: common-bottom}"></th:block>
    </body>
</html>