<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common/common-header}"></head>

    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="~{common/common-menu :: common-menu}"></ul>

            <!-- 페이지 본문 시작 -->
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="~{common/common-navbar :: common-navbar}"></nav>

                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-2 text-gray-800">Notice</h1>
                            <a th:href="@{/board/boardList}" class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50"><i class="fas fa-flag"></i></span>
                                <span class="text">Back To List</span>
                            </a>
                        </div>

                        <p class="mb-4">This category is where announcements are displayed 😀</p>

                        <!-- Write Form Start -->
                        <form th:action="@{/board/boardUpdate}" th:object="${boardPost}" method="post" enctype="multipart/form-data">
                            <!-- Update Parameter -->
                            <div id="deleteFileList"></div>
                            <input type="hidden" th:field="*{boardDTO.boardSeq}"/>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card mb-4">
                                        <!-- Title -->
                                        <div class="card-header">
                                            <input type="text" class="form-control bg-light border-0 small"
                                                   placeholder="Please enter a title here :)" aria-describedby="basic-addon2"
                                                   id="boardTitle" th:field="*{boardDTO.boardTitle}"/>

                                            <!-- Validation Check Result -->
                                            <div th:if="${#fields.hasErrors('boardDTO.boardTitle')}" th:errors="*{boardDTO.boardTitle}" class="alert alert-danger mt-2"></div>
                                        </div>

                                        <!-- Content -->
                                        <div class="card-body">
                                            <textarea class ="form-control bg-light border-0 small" id="boardContent"
                                                      th:field="*{boardDTO.boardContent}" rows="10" cols="20"
                                                      placeholder="Please enter a Content here :)"></textarea>

                                            <!-- Validation Check Result -->
                                            <div th:if="${#fields.hasErrors('boardDTO.boardContent')}" th:errors="*{boardDTO.boardContent}" class="alert alert-danger mt-2"></div>
                                        </div>

                                        <!-- File Upload : 기존 파일 출력 -->
                                        <th:block th:if="${boardFileList.size() != 0}" th:each="boardFile : ${boardFileList}">
                                            <div class="card-header d-flex align-items-center" th:attr="data-seq=${boardFile.boardFileSeq}">
                                                <button type="button" class="btn btn-danger btn-circle btn-sm mr-3" onclick="tempDeleteFile(this)">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                                <span th:text="${boardFile.boardFileName}"></span>
                                            </div>
                                        </th:block>

                                        <!-- File Upload : 파일 업로드 -->
                                        <div class="card-header" style="display: flex; align-items: center; gap: 8px;">
                                            <span class="icon text-gray-600">
                                                <i class="fas fa-arrow-right"></i>
                                            </span>

                                            <!-- 태그 사이즈 조절을 위한 div -->
                                            <div class="input-group">
                                                <input type="file" class="form-control bg-light border-0 small" style="width: auto;"
                                                       aria-label="FileUpload" aria-describedby="basic-addon2"
                                                       id="boardFile" th:field="*{boardFileUpdateList}" multiple />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Update -->
                            <!--<button type="button" class="btn btn-success btn-icon-split" onclick="boardFileUpdate()">-->
                            <button type="submit" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                                <span class="text">Update</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="~{common/common-bottom :: common-bottom}"></th:block>
        <th:block th:replace="~{common/common-file-upload :: common-file-upload}"></th:block>

        <script th:inline="javascript">
            function tempDeleteFile(deleteFileButton) { // 삭제할 파일 정보 Temp
                // 부모 div 태그 및 파일 시퀀스 값 가져오기
                const fileDiv = deleteFileButton.parentElement;
                const fileSeq = fileDiv.getAttribute("data-seq");

                // Controller에 List로 넘겨주기 위한 Input 생성 (Name은 동일)
                const deleteFile = document.createElement("input");

                deleteFile.type = "hidden";
                deleteFile.name = "boardFileDeleteList";
                deleteFile.value = fileSeq;

                fileDiv.remove();
                document.getElementById("deleteFileList").appendChild(deleteFile);
            }
        </script>
    </body>
</html>