<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{/common/common-header}"></head>

    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="~{/common/common-menu :: common-menu}"></ul>

            <!-- 페이지 본문 시작 -->
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="~{/common/common-navbar :: common-navbar}"></nav>

                </div>
            </div>
        </div>

        <th:block th:replace="~{/common/common-bottom :: common-bottom}"></th:block>
    </body>
</html>