<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common/common-header}"></head>

    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="~{common/common-menu :: common-menu}"></ul>

            <!-- 페이지 본문 시작 -->
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="~{common/common-navbar :: common-navbar}"></nav>

                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-2 text-gray-800">Notice</h1>
                            <a th:href="@{/board/boardList}" class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50"><i class="fas fa-flag"></i></span>
                                <span class="text">Back To List</span>
                            </a>
                        </div>

                        <p class="mb-4">This category is where announcements are displayed 😀</p>

                        <!-- Write Form Start -->
                        <form th:action="@{/board/boardWrite}" th:object="${boardPost}" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card mb-4">
                                        <!-- 공통 입력 -->
                                        <th:block th:replace="~{common/common-enter :: common-enter}"></th:block>

                                        <!-- File Upload -->
                                        <div class="card-header" style="display: flex; align-items: center; gap: 8px;">
                                            <span class="icon text-gray-600">
                                                <i class="fas fa-arrow-right"></i>
                                            </span>

                                            <!-- 태그 사이즈 조절을 위한 div -->
                                            <div class="input-group">
                                                <input type="file" class="form-control bg-light border-0 small" style="width: auto;"
                                                       aria-label="FileUpload" aria-describedby="basic-addon2"
                                                       id="boardFile" th:field="*{boardFileList}" multiple />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Write -->
                            <button type="button" class="btn btn-success btn-icon-split" onclick="boardWrite()">
                                <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                                <span class="text">Update</span>
                            </button>

                            <!--
                            <button type="submit" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                                <span class="text">Submit</span>
                            </button>
                            -->
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="~{common/common-bottom :: common-bottom}"></th:block>
        <th:block th:replace="~{common/common-file-upload :: common-file-upload}"></th:block>

        <!-- Board Write -->
        <script th:inline="javascript">
            // 게시글 수정
            async function boardWrite() {
                // WriteDTO 설정
                const writeDTO = {
                    boardDTO: {
                        boardTitle: $("#boardTitle").val(),
                        boardContent: $("#boardContent").val()
                    }
                };

                // FormData 설정 (Multipart 전송은 FormData를 사용해야 함)
                const formData = new FormData();

                formData.append (
                    "boardWriteDTO"
                    , new Blob([JSON.stringify(writeDTO)]
                    , { type: "application/json" })
                );

                // 신규 첨부파일 설정
                const files = $("#boardFile")[0].files;

                for (let file of files) {
                    formData.append("boardFileList", file);
                }

                // Controller에 전송
                try {
                    const response = await fetch("/api/board/boardWrite", {
                        method: "POST", // Multipart 전송 시, PUT은 불안정하거나 지원 안 됨
                        body: formData
                    });

                    if (response.ok) {
                        alert(await response.text());
                        window.location.href = "/board/boardList";

                    // Validation 체크 (화면에 보여주기)
                    } else {
                        $("#valid-Message").text(await response.text()).show();
                    }

                } catch (err) {
                    console.error(err);
                    alert("등록 중 오류 발생");
                }
            }
        </script>
    </body>
</html>