<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common/common-header}"></head>

    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="~{common/common-menu :: common-menu}"></ul>

            <!-- 페이지 본문 시작 -->
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="~{common/common-navbar :: common-navbar}"></nav>

                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-2 text-gray-800">Notice</h1>
                            <a th:href="@{/board/boardList}" class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50"><i class="fas fa-flag"></i></span>
                                <span class="text">Back To List</span>
                            </a>
                        </div>

                        <p class="mb-4">This category is where announcements are displayed 😀</p>

                        <!-- Write Form Start -->
                        <form th:action="@{/board/boardWrite}" th:object="${boardPost}" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card mb-4">
                                        <!-- Title -->
                                        <div class="card-header">
                                            <input type="text" class="form-control bg-light border-0 small"
                                                   placeholder="Please enter a title here :)" aria-describedby="basic-addon2"
                                                   id="bTitle" th:field="*{boardDTO.boardTitle}"/>

                                            <!-- Validation Check Result -->
                                            <div th:if="${#fields.hasErrors('boardDTO.boardTitle')}" th:errors="*{boardDTO.boardTitle}" class="alert alert-danger mt-2"></div>
                                        </div>

                                        <!-- Content -->
                                        <div class="card-body">
                                            <textarea class ="form-control bg-light border-0 small" id="bContent"
                                                      th:field="*{boardDTO.boardContent}" rows="10" cols="20"
                                                      placeholder="Please enter a Content here :)"></textarea>

                                            <!-- Validation Check Result -->
                                            <div th:if="${#fields.hasErrors('boardDTO.boardContent')}" th:errors="*{boardDTO.boardContent}" class="alert alert-danger mt-2"></div>
                                        </div>

                                        <!-- File Upload -->
                                        <div class="card-header" style="display: flex; align-items: center; gap: 8px;">
                                            <span class="icon text-gray-600">
                                                <i class="fas fa-arrow-right"></i>
                                            </span>

                                            <input type="file" class="form-control bg-light border-0 small" style="width: auto;"
                                                   aria-label="FileUpload" aria-describedby="basic-addon2"
                                                   id="bFile" th:field="*{boardFileList}" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Submit -->
                            <button type="submit" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                                <span class="text">Submit</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="~{common/common-bottom :: common-bottom}"></th:block>
    </body>
</html>