<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common/common-header}"></head>

    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="~{common/common-menu :: common-menu}"></ul>

            <!-- 페이지 본문 시작 -->
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="~{common/common-navbar :: common-navbar}"></nav>

                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-2 text-gray-800">Notice</h1>
                            <a th:href="@{/board/boardWriteForm}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Go To Write</a>
                        </div>

                        <p class="mb-4">This category is where announcements are displayed 😀</p>

                        <!-- List Table Start -->
                        <div class="card shadow mb-4">
                            <!-- Table Title -->
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Here is a list of announcements in administrator mode</h6>
                            </div>

                            <!-- Table Content -->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" style="border-spacing: 0; width: 100%;">
                                        <thead style="text-align: center;">
                                            <tr>
                                                <th>No</th>
                                                <th>Title</th>
                                                <th>RegId</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>

                                        <tbody th:with="boardListSize=${boardList.size()}">
                                            <!-- 게시글이 없을 경우 -->
                                            <th:block th:if="${boardListSize} == 0">
                                                <tr>
                                                    <td colspan="5" style="text-align: center;">등록된 게시글이 없습니다.</td>
                                                </tr>
                                            </th:block>

                                            <!-- 게시글이 있을 경우 -->
                                            <th:block th:if="${boardListSize} != 0">
                                                <th:block th:each="boardList, boardIndex : ${boardList}">
                                                    <tr>
                                                        <td th:text="${boardIndex.size - boardIndex.index}"></td>
                                                        <td th:text="${boardList.boardDTO.bTitle}"></td>
                                                        <td th:text="${boardList.boardDTO.bRegId}"></td>
                                                        <td th:text="${boardList.boardDTO.regDate}"></td>
                                                    </tr>
                                                </th:block>
                                            </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="~{common/common-bottom :: common-bottom}"></th:block>
    </body>
</html>