<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{/common/common-header}"></head>

    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="~{common/common-menu :: common-menu}"></ul>

            <!-- 페이지 본문 시작 -->
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav th:replace="~{common/common-navbar :: common-navbar}"></nav>

                    <div class="container-fluid">
                        <div class="text-center">
                            <h1 class="h3 mb-4 text-gray-800">DaRong's Page 🙋🏻‍♀️</h1>
                            <p class="mb-4">This project is progressing! It will be continuously updated 🔥</p>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card shadow mb-4">
                                    <a href="#collapseCardExample_1" class="d-block card-header py-3" data-toggle="collapse"
                                       role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                        <h6 class="m-0 font-weight-bold text-primary"> 💻 Development</h6>
                                    </a>

                                    <div class="collapse show" id="collapseCardExample_1">
                                        <div class="card-body">
                                            ● Java 17 and Gradle <br>
                                            ● IntelliJ IDEA (Build Version 25.01.03) <br>
                                            ● Spring Boot 3.4.9 (Deploy Type is Jar)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card shadow mb-4">
                                    <a href="#collapseCardExample_2" class="d-block card-header py-3" data-toggle="collapse"
                                       role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                        <h6 class="m-0 font-weight-bold text-primary">🗄 Database</h6>
                                    </a>

                                    <div class="collapse show" id="collapseCardExample_2">
                                        <div class="card-body">
                                            ● H2 (In-Memory-DB) <br>
                                            ● MariaDB (Docker Image : latest) <br>
                                            ● JPA (Hibernate)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card shadow mb-4">
                                    <a href="#collapseCardExample_3" class="d-block card-header py-3" data-toggle="collapse"
                                       role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                        <h6 class="m-0 font-weight-bold text-primary">📤 CI (Continuous Integration)</h6>
                                    </a>

                                    <div class="collapse show" id="collapseCardExample_3">
                                        <div class="card-body">
                                            <strong>● GitHub Actions</strong><br><br>
                                            - IntelliJ ➡️ Response to push and pull operation <br>
                                            - Docker ➡️ Build and make image 🐳
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card shadow mb-4">
                                    <a href="#collapseCardExample_4" class="d-block card-header py-3" data-toggle="collapse"
                                       role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                        <h6 class="m-0 font-weight-bold text-primary">📥 CD (Continuous Deployment)</h6>
                                    </a>

                                    <div class="collapse show" id="collapseCardExample_4">
                                        <div class="card-body">
                                            <strong>● GitHub Actions</strong><br><br>
                                            - NCP ➡️ Pull from DockerHub the latest image <br>
                                            - NCP ➡️ Run and deploy the latest data to the server ☁️
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="~{common/common-bottom :: common-bottom}"></th:block>
    </body>
</html>