<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common/common-header}"></head>

    <body id="page-top">
        <div id="wrapper">
            <ul th:replace="~{common/common-menu :: common-menu}"></ul>

            <!-- 페이지 본문 시작 -->
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                    <img class="img-profile rounded-circle" th:src="@{img/undraw_profile.svg}">
                                </a>

                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>

                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Settings
                                    </a>

                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Activity Log
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>

                    <div class="container-fluid">
                        <div class="text-center">
                            <h1 class="h3 mb-4 text-gray-800">DaRoung's Page 🙋🏻‍♀️</h1>
                            <p class="mb-4">This project is progressing! It will be continuously updated 🔥</p>
                        </div>

                        <div class="card shadow mb-4">
                            <a href="#collapseCardExample_1" class="d-block card-header py-3" data-toggle="collapse"
                               role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                <h6 class="m-0 font-weight-bold text-primary"> Development and Database</h6>
                            </a>

                            <div class="collapse show" id="collapseCardExample_1">
                                <div class="card-body">
                                    <strong>💻 Development</strong><br>
                                    ● Java 17 Version and Gradle <br>
                                    ● IntelliJ IDEA (Build Version 25.01.03) <br>
                                    ● Spring Boot 3.4.9 (Deploy Type is Jar) <br><br>

                                    <strong>🗄 Database</strong><br>
                                    ● H2 (In-Memory-DB) <br>
                                    ● MariaDB (Docker Image : latest) <br>
                                    ● JPA (Hibernate)
                                </div>
                            </div>
                        </div>

                        <div class="card shadow mb-4">
                            <a href="#collapseCardExample_2" class="d-block card-header py-3" data-toggle="collapse"
                               role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                <h6 class="m-0 font-weight-bold text-primary">CI / CD</h6>
                            </a>

                            <div class="collapse show" id="collapseCardExample_2">
                                <div class="card-body">
                                    <strong>● GitHub Actions</strong><br><br>

                                    <strong>📤 CI (Continuous Integration)</strong><br>
                                    - IntelliJ ➡️ Response to push and pull operation <br>
                                    - Docker ➡️ Build and make image 🐳 <br><br>

                                    <strong>📥 CD (Continuous Deployment)</strong><br>
                                    - NCP ➡️ Pull from DockerHub the latest image <br>
                                    - NCP ➡️ Run and deploy the latest data to the server ☁️
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="~{common/common-bottom :: common-bottom}"></th:block>
    </body>
</html>